@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lightGray;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h1 {
    font-size: clamp(1.875rem ,2.5vw ,3rem);
    @apply font-semibold;
  }
  h2 {
    font-size: clamp(1.25rem ,2.5vw ,1.875rem);
    @apply font-semibold;
  }
  h3 {
    font-size: clamp(1.125rem ,2.5vw ,1.5rem);
    @apply font-semibold;
  }
  h4 {
    font-size: clamp(1rem ,2.5vw ,1.25rem);
    @apply font-semibold;
  }
  p {
    font-size: clamp(0.75rem ,2.5vw ,1rem);
  }
}

.slick-next:before{
  color: lightgray !important;
}

.slick-prev:before{
  color: lightgray !important;
}

.text-multiline-ellipsis { 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3; 
  overflow: hidden; 
  text-overflow: ellipsis; 
} 